@using WsdlExtractor;
@model SchemaRequest
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    @using (Html.BeginForm("Inspect", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-10">
                <input type="text" name="url" class="form-control input-lg fullsizeinput" placeholder="SOA URL">
            </div>

            <div class="col-md-2">
                <input type="submit" class="btn btn-lg btn-primary" value="Go">
            </div>
        </div>
    }


    <p>
        @if (Model == null)
        {
            <div>
                &nbsp; &nbsp; &nbsp;
                Select URL
            </div>
        }
        else
        {
                if(Model != null)
                {
                    foreach(var item in Model.XsdUrls)
                    {
                        <div>
                            &nbsp; &nbsp; &nbsp;
                            @item;
                        </div>
                    }
                }
        }
    </p>
    <p>&nbsp;</p>

    @if (Model != null)
    {
        if(Model.Types.Count == 0)
        {
            <div>Empty result</div>
        }

        foreach (var item in Model?.Types?.Keys)
        {
            <h3>@item</h3>
            <table border="1" class="table table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Nullable</th>
                        <th>Min occurs</th>
                        <th>Source</th>
                    </tr>
                </thead>
                @foreach (var sub in Model.Types[item])
                {
                    <tr>
                        <td>@sub.Name</td>
                        <td>@sub.Type</td>
                        <td>@sub.Nullable</td>
                        <td>@sub.MinOccurs</td>
                        <td>@sub.TypeLib</td>
                    </tr>
                }
            </table>

        }
    }

    <p>&nbsp;</p>
    <div class="text-center" style="font-size:32px;">&#9996;</div>
</div>
